// Variables for light theme
$primary-color-light: #000;
$background-color-light: #fff;
$text-color-light: #000;

 // Variables for dark theme
 $primary-color-dark: #fff;
 $background-color-dark: #000;
 $text-color-dark: #fff;

